@model Travel.Models.TravelSummary

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TravelSummary</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpCode" class="control-label"></label>
                <input asp-for="EmpCode" class="form-control" />
                <span asp-validation-for="EmpCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstiBud" class="control-label"></label>
                <input asp-for="EstiBud" class="form-control" />
                <span asp-validation-for="EstiBud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" name="Picture" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-8" id="Itinenary_Details_View">
            <section class="ChildItems">
                <div class="lineItemGroup">
                    <table class="table table-striped jsAddRemRows">
                        <thead>
                            <tr>
                                <th width="50px"><a href="#" class="addRow btn btn-success btn-sm" id="addItinenaryItem"> <span class="fas fa-plus"></span></a></th>
                                <th>Date</th>
                                <th>Hotel</th>
                                <th>Location</th>
                                <th>Task</th>
                                <th>Description</th>
                                <th>Estimated Budget</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Hotel Photo</th>
                                <th>Employee</th>
                            </tr>
                        </thead>
                        <tbody id="lineItemGroup">
                      
                        </tbody>

                    </table>
                </div>
            </section>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<template id="masterCopyITinenary">
    <tr>
        <td>
            <a class="btn btn-danger removeRow" href="#">- remove</a>
            <input type="hidden" name="TravelItinenaryDetail.index" value="--XX--" />
        </td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].Date" value="2022-06-29" /></td>
        <td>
            <input type="text" name="TravelItinenaryDetail[--XX--].Time" value="12:00" />
            <input type="text" name="TravelItinenaryDetail[--XX--].Hotel" value="IJK Hotel" />
        </td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].Location" value="IJK Location" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].Task" value="IJK Task" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].Description" value="IJK Description" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].EstimatedBudget" value="500" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].FromDate" value="2022-06-01" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].ToDate" value="2022-07-01" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].HotelPhoto" value="N/A" /></td>
        <td><input type="text" name="TravelItinenaryDetail[--XX--].EmpolyeeId" value="1" /></td>
    </tr>
</template>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
        $(document).ready(function() {
            var cnt = $('#lineItemGroup tr').length;

            $("#addItinenaryItem").click(function() {
                //count no of existing records

                var content = $("#masterCopyITinenary").html();
                //replace index and manage unique value
                content = content.replace(/--XX--/g, 'ABC_' + (++cnt));
                $(content).appendTo("#lineItemGroup");
            });
            $("#addItinenaryItem").trigger('click').trigger('click').trigger('click').trigger('click').trigger('click');
            $(document).on('click', '.removeRow', function(e) {
                e.preventDefault();
                $(this).closest('tr').remove();
            });
        });

    </script>
    }
